<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Core app</h1>
    <a href="{% url 'home' %}">Home </a>/
    <a href="{% url 'signup' %}">Signup </a>/
    <a href="{% url 'login' %}">login </a>/
    {% if user.is_authenticated %}
        <a href="{% url 'secret_page' %}">Secret </a>/
        <a href="{% url 'password_change' %}">Password Change</a>/<!-- redirects to registration/passsword_change_form.html by default-->
        <a href="{% url 'logout' %}">logout</a>
    {%endif%}
    <hr style="color:black">
    {%block content%}
    {%endblock%}
</body>
</html>